.animateRotateBg {
  height: 5px;
  width: 100%;
  animation: backgroundRotate 1s infinite linear;
  -webkit-animation: backgroundRotate 1s infinite linear;
  background: rgb(48,255,144); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(48,255,144,1) 0%, rgba(237,45,237,1) 25%, rgba(201,152,38,1) 50%, rgba(48,255,230,1) 75%, rgba(48,255,144,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(48,255,144,1)), color-stop(25%,rgba(237,45,237,1)), color-stop(50%,rgba(201,152,38,1)), color-stop(75%,rgba(48,255,230,1)), color-stop(100%,rgba(48,255,144,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(48,255,144,1) 0%,rgba(237,45,237,1) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(48,255,144,1) 0%,rgba(237,45,237,1) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(48,255,144,1) 0%,rgba(237,45,237,1) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(48,255,144,1) 0%,rgba(237,45,237,1) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30ff90', endColorstr='#30ff90',GradientType=1 ); /* IE6-9 */
}
@-webkit-keyframes backgroundRotate {
  from {
    background-position: -2000px;
  }
  to {
    background-position: 0px;
  }
}

@keyframes backgroundRotate {
  from {
    background-position: -2000px;
  }
  to {
    background-position: 0px;
  }
}
.animate-pulse-warning {
  animation: animate_pulse 1.5s infinite;
}

.animate-pulse:hover {
  animation: none;
}

@keyframes animate_pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(228, 25, 49, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(228, 25, 49, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
  }
}

