*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pageContainer{
    width: 100%;
    max-width: 1600px;
    padding: 15px 15px 60px 15px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
html{

}
body{

}
.btn{
    margin:10px 10px 10px 0;
    padding: 5px;
    font-size: 18px;
}
.container{
    width: 100%;
    margin: auto;
    max-width: 960px;
}

.baseInput{
    margin: 0 0 15px 0;
    /*width: 20%;*/
    /*max-width: 250px;*/
    .v-field__field{
        border-bottom: solid 1px #000;
        border-left: solid 1px #000;
        text-indent: 10px;
    }
    .v-field-label{
        text-indent: 10px;
    }
    .v-field-label--floating{
        text-indent: 7px;
    }
}
.base-form-input{
    input{
        border-bottom: solid 1px #000;
        border-left: solid 1px #000;
        text-indent: 10px;
        outline: none;
    }
    label{
        font-size: 12px;
    }
    .base-form-input__error{
        color: red;
        font-size: 12px;
    }
}
.base-button{
    padding: 5px;
}
